# Project 05 -- Emilio Pozas

**TA Help:** 
    
**Collaboration:** Help from piazza. Ran into an issue with kernel restarting

## Question 1

In [8]:
import pandas as pd
from pathlib import Path

In [11]:
def avg_aggreg_temp(file_location , column_title_list, start_date, end_date, element_code = 'TAVG'):
    """
    avg_aggreg_temp is a function that accepts file location, comlumn title list, start and end date, and element code
    It returns the avg value for the rows with that element_code.
    """
    total = 0
    count = 0
    for myDF in pd.read_csv(Path(f"/anvil/projects/tdm/data/noaa/{file_location}"), header=None, names=column_title_list,chunksize=10000):
        chunk = myDF[(myDF['date'] >= start_date) & (myDF['date'] <= end_date) & (myDF['element_code'] == element_code)]
        total += sum(chunk['value'])
        count += len(chunk)
    return total / count

In [13]:
avg_aggreg_temp("2018.csv",["id","date","element_code","value","mflag","qflag","sflag","obstime"],20180101,20180115)

12.317542410053962

## Question 2

In [32]:
def years_dict(years, column_title_list, element_code):
    mydict= {}
    for myyear in years:
        total = 0
        count = 0
        for myDF in pd.read_csv(Path(f"/anvil/projects/tdm/data/noaa/{myyear}.csv"), header=None, names=column_title_list,chunksize=10000):
            chunk = myDF[(myDF['element_code'] == element_code)]
            total += sum(chunk['value'])
            count += len(chunk)
        mydict[myyear] = total/count
    return mydict

In [33]:
years_dict(range(1880,1884),["id","date","element_code","value","mflag","qflag","sflag","obstime"],"TAVG")

{1880: 127.30054644808743,
 1881: 49.00669116954104,
 1882: 58.33541290428501,
 1883: 50.54050116550116}

## Question 3

In [34]:
def years_to_month_dict(years,mymonth, column_title_list, element_code):
    mydict= {}
    for myyear in years:
        total = 0
        count = 0
        for myDF in pd.read_csv(Path(f"/anvil/projects/tdm/data/noaa/{myyear}.csv"), header=None, names=column_title_list,chunksize=10000):
            myDF['month'] = pd.to_datetime(myDF['date'],format='%Y%m%d').dt.month
            chunk = myDF[(myDF['element_code'] == element_code) & (myDF['month']==mymonth)]
            total += sum(chunk['value'])
            count += len(chunk)
        mydict[myyear] = total/count
    return mydict

In [35]:
years_to_month_dict(range(1880,1884),8,["id","date","element_code","value","mflag","qflag","sflag","obstime"],"TAVG")

{1880: 225.70967741935485,
 1881: 188.42227122381476,
 1882: 207.34585741811176,
 1883: 185.22810060711188}

Markdown notes and sentences and analysis written here.

## Question 4

In [74]:
def max_qflags (years, qflags, column_title_list):
    top_year_count = 0
    top_year = 0
    for myyear in years:
        count = 0
        for myDF in pd.read_csv(Path(f"/anvil/projects/tdm/data/noaa/{myyear}.csv"), header=None, names=column_title_list,chunksize=10000):
            chunk = myDF[(myDF['qflag'] == qflags)]
            count += len(chunk)
        if count > top_year_count:
            top_year_count = count
            top_year = myyear
    return top_year

In [59]:
max_qflags(range(1880,1884), "D", ["id","date","element_code","value","mflag","qflag","sflag","obstime"])

1880

In [60]:
max_qflags(range(1880,1884), "G", ["id","date","element_code","value","mflag","qflag","sflag","obstime"])

1880

In [61]:
max_qflags(range(1880,1884), "I", ["id","date","element_code","value","mflag","qflag","sflag","obstime"])

1883

In [62]:
max_qflags(range(1880,1884), "K", ["id","date","element_code","value","mflag","qflag","sflag","obstime"])

1882

In [63]:
max_qflags(range(1880,1884), "L", ["id","date","element_code","value","mflag","qflag","sflag","obstime"])

1881

In [65]:
max_qflags(range(1880,1884), "N", ["id","date","element_code","value","mflag","qflag","sflag","obstime"])

1880

In [66]:
max_qflags(range(1880,1884), "O", ["id","date","element_code","value","mflag","qflag","sflag","obstime"])

1880

In [67]:
max_qflags(range(1880,1884), "S", ["id","date","element_code","value","mflag","qflag","sflag","obstime"])

1882

In [68]:
max_qflags(range(1880,1884), "X", ["id","date","element_code","value","mflag","qflag","sflag","obstime"])

1881

## Question 5

In [70]:
myDF= pd.read_csv(Path(f"/anvil/projects/tdm/data/noaa/1880.csv"), header=None, names=["id","date","element_code","value","mflag","qflag","sflag","obstime"])

In [71]:
myDF.head

<bound method NDFrame.head of                  id      date element_code  value mflag qflag sflag  obstime
0       AGE00147705  18800101         PRCP      0   NaN   NaN     E      NaN
1       AGE00147708  18800101         PRCP     36   NaN   NaN     E      NaN
2       AGE00147709  18800101         PRCP     36   NaN   NaN     E      NaN
3       AGE00147712  18800101         PRCP      0   NaN   NaN     E      NaN
4       AGE00147713  18800101         TMAX     52   NaN   NaN     E      NaN
...             ...       ...          ...    ...   ...   ...   ...      ...
370774  USW00093852  18801231         TMAX     39   NaN   NaN     X      NaN
370775  USW00093852  18801231         TMIN    -17   NaN   NaN     X      NaN
370776  USW00094728  18801231         TMAX   -122   NaN   NaN     0      NaN
370777  USW00094728  18801231         TMIN   -194   NaN   NaN     0      NaN
370778  USW00094728  18801231         PRCP      0   NaN   NaN     0      NaN

[370779 rows x 8 columns]>

In [80]:
def max_element_code_average (years, element_code, column_title_list =["id","date","element_code","value","mflag","qflag","sflag","obstime"]):
    """
    This function takes a range of years, the element code as well as a column title list. It then goes through the years getting their averages for the selected 
    element code. It keeps the year with the highest average.
    
    args: 
        years(int): The years from the dataframe.
        element_code(str): The chosen element_code from the dataframe
        column_title_list: standarization of the dataframe as it does not have a header. 
        
    Returns:
        int: Returns the year with the highest value average for the selected element code.
    """
    top_year_value = 0
    top_year = 0
    for myyear in years:
        total = 0
        count = 0
        for myDF in pd.read_csv(Path(f"/anvil/projects/tdm/data/noaa/{myyear}.csv"), header=None, names=column_title_list,chunksize=10000):
            chunk = myDF[(myDF['element_code'] == element_code)]
            total += sum(chunk['value'])
            count += len(chunk)
            average = total/count
        if average > top_year_value:
            top_year_value = average
            top_year = myyear
    return top_year

In [81]:
max_element_code_average(range(1880, 1900), 'PRCP')

1890

Markdown notes and sentences and analysis written here.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.